<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>GusGames</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">GusGames</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Carrinho</a>
                <a href="login.html">Faça Login ou Cadastre-se</a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Categorías dos jogos</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Ação</a>
                </li>
                <li>
                    <a href="index.html">Aventura</a>
                </li>
                <li>
                    <a href="index.html">Esporte</a>
                </li>
            </ul>
        </aside>
        
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">   
                            <img class="product-image" src="./assets/fifa-18.png" alt="product">
                            <div class="product-name"><a href="product.html">Fifa 18</a></div>
                            <div class="product-pricing">R$ 195.39</div>
                            <div class="product-score">325 Score</div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </main>

        <footer class="footer">
            Todos os direitos reservados.
        </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open")
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>
</html>